@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 16px;
}

*.active, *.focused {
  border: 2px solid;
  border-color: @foreground;
}

.modules-left {
}

.modules-right {
  margin-right: 8px;
  font-size: 16px;
}

#workspaces button {
  all: initial;
  padding: 6px;
  margin: 0 1.5px;
  min-width: 9px;
  font-size: 14px;
  font-weight: bold;
}

#workspaces button label {
  padding: 1px 5px;
}

#workspaces button:hover label {
  border-radius: 8px;
  background-color: @foreground;
  color: @background;
  opacity: 0.6;
}

#workspaces button.empty {
  opacity: 0.3;
  font-weight: 200;
}

#workspaces button.active label, #workspaces button.focused label {
  padding: 1px 5px;
  font-weight: bold;
  color: @background;
  background-color: @foreground;
  border-radius: 8px;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}  

#tray {
  margin-right: 16px;
}


#bluetooth {
  margin-right: 17px;
  
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  border-radius: 16px;
  padding: 1px 16px;
  margin: 4px;
  font-size: 14px;
  font-weight: 600;
  color: @background;
  background-color: @foreground;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
